p, h2{
    size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: auto;
    align-content: center;
    /* line-height: 2; */
    padding: 20px;
    /* padding-bottom: 20px; */
}
.alert{
    border: 5px;
    border-style: dashed;
    border-color: white;
    text-align: center;
    margin: auto;
    align-content: center;
    padding: 10px;
    size: 20px;
    color: white;
}
a{
    text-align: center;
    color: white;
    display: block;
    width: 160px;
    margin: auto;
    padding-top: 30px;   
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
}
.aForm{
    display: block;
    text-align: center;
}
input{
    width: 100px;
}
table{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table, th, td{
    border: 1px, solid, white;
    /* border-color: white; */
}
.myTable{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #272727;
    font-family: "system-ui";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  