<!DOCTYPE html>
<html>
    <head>
        <title>Your listed reviews.</title>
        <link rel = "stylesheet" href= "/staticFiles/standard.css" type = 'text/css'>
    </head>
    <body>
        <ul>
            <li><a href="/cityState">Change Location</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/allReviews">See & Change Reviews</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="flashes">
            {% for message in get_flashed_messages() %}
              {{ message }}
            {% endfor %}
        </div>
        <p>The below form can be used to delete a review.</p>
        <div class = 'aForm'>
            <form action = "delReview" method = 'post'>
                <input type = "text" id = 'name' name = 'name' placeholder="name">
                <input type = "text" id = "address" name = "address" placeholder="address">
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
        <p>Input places and their respective rating to add reviews.</p>
        <div class = 'aForm'>
            <form action= "/receiveAdd" method = "post" autocomplete="on">
                <input type = "text" id = 'name' name = 'name' placeholder="name">
                <input type = "text" id = 'address' name = 'address' placeholder="address">
                <input type = "number" id = 'rating' name = 'rating' min = '1' max = '5' placeholder = 'rating'>
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
